@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin-ext');
body {
  margin: 0;
  padding: 0;
  background-color: #009688;
  font-family: 'Open Sans', sans-serif;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
}

.radio-button {
  width: 30px;
}

br {
  clear: both;
}

hr {
  clear: both;
  width: 248px;
  margin: 15px 0 0 0;
  padding: 0;
}

p {
  margin: 5px 0 10px 0;
  padding: 0;
  user-select: none;
  text-align: center;
  color: #212121;
}

input {
  color: #000;
}

.pasek {
  width: 100%;
  height: auto;
  padding: 8px 0;
  background-color: #00796b;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.6);
}

.gora {
  margin: 0 0 0 20px;
  text-align: left;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.mniej {
  font-size: 16px;
  font-weight: normal;
}

.glowny {
  position: relative;
  z-index: 0;
  display: flex;
  width: 298px;
  margin: 0 0 0 20px;
  border-radius: 0 0 5px 5px;
  background-color: #FFF;
  box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.6);
  flex-flow: row wrap;
  justify-content: center;
}

.title {
  display: inline-block;
  width: 100%;
  margin: 5px 0;
  font-size: 18px;
}

.bt {
  width: 120px;
  margin: 3px;
  padding: 3px 0;
  cursor: pointer;
  user-select: none;
  text-align: center;
  color: #FFF;
  border-radius: 3px;
  background-color: #009688;
  box-shadow: 0 1px 1px 1px #666666;
}

.clicked {
  background-color: #795548;
}

.wej {
  width: 246px;
  height: 24px;
  margin: 3px 0 10px 0;
  text-align: center;
  border: 0;
  border-bottom: 3px solid #009688;
  border-radius: 0;
  background-color: #ebebeb;
  font-family: monospace;
  font-size: 18px;
}

.wyj {
  margin: 15px 0 20px 0;
  user-select: none;
  color: #000;
}

.wej:focus {
  border-bottom: 3px solid #795548;
  outline: 0;
}

.karty {
  width: 298px;
  margin: 20px 0 0 20px;
  padding: 0;
  text-align: center;
  border-radius: 5px 5px 0 0;
  background-color: #000;
  box-shadow: 0 3px 8px 3px rgba(0, 0, 0, 0.6);
}

.karta {
  position: relative;
  z-index: 2;
  float: left;
  width: 50%;
  cursor: pointer;
  border-radius: 5px 0 0 0;
  background-color: #FFF;
}

.karta2 {
  z-index: 1;
  clear: right;
  border-radius: 0 5px 0 0;
}

.tyl2 {
  z-index: 1;
  background-color: #a1a1a1;
  box-shadow: inset 2px -2px 2px -1px rgba(0, 0, 0, 0.6);
}

.tyl1 {
  z-index: 1;
  background-color: #a1a1a1;
  box-shadow: inset -2px -2px 2px -1px rgba(0, 0, 0, 0.6);
}

.karta p {
  margin: 5px 0;
  font-size: 17px;
}

.baza {
  display: none;
  clear: both;
  margin-top: 15px;
  color: #212121;
}

button {
  width: 20px;
  cursor: pointer;
  color: #000;
  border: none;
  border-radius: 2px;
  background-color: #009688;
}

button:focus {
  outline: none;
}

button:active {
  background-color: #795548;
}

button:disabled {
  cursor: default;
  background-color: #8f8f8f;
}

.baz {
  margin: 0;
  user-select: none;
}

@media screen and (max-width: 600px) {
  .gora {
    text-align: center;
    margin: 0;
  }
  .karty {
    margin-right: auto;
    margin-left: auto;
  }
  .glowny {
    margin-right: auto;
    margin-left: auto;
  }
}
